.App {
  text-align: center;
  background-color: #8a9492;
}
.App-header1 {
  text-align: center;
  background-color: #8a9492;
  font-family: Arial;
  text-align: center;
}
.App-header2 {
  text-align: center;
  background-color: #8a9492;
  margin-top: -1%; 
}
.App-header3 {
  text-align: left;
  background-color: #8a9492;
  height: 3vmin;
 
}
.App-header4 {
  text-align: right;
  background-color: #8a9492;
  margin-top: -2%; 
  padding: -4px;
  
  
 
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-linkss {

  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
  background-color: blue;
}






.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
